<section class="footer-container">
  <div class="footer">
  <a href="/most-discussed-articles">
    <div class="footer_one">
      <h4>Our most discussed articles</h4>
      <span>See them all</span>
    </div>
  </a>
    <a href="/authors">
    <div class="footer_two">
      <h4>Authors that matter.</h4>
      <span>Meet our most discussed authors</span>
    </div>
    </a>
    <div class="footer_three">
      <h4>Ask a friend to join the conversation, and get a month free</h4>
      <form action="//techarr.us16.list-manage.com/subscribe/post?u=8e51818327a33459612d329db&amp;id=553691ea2a" method="post">
        <input id="mce-EMAIL" name="EMAIL" type="email" placeholder="enter email" required >
        <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe" type="submit">Invite</button>
      </form>
    </div>
  </div>
</section>
