<section class="tag-line-container">
	<div class="tag-line">

		{# <span>WE ARE</span> #}
		<h2>We are <br class="desktop-only"> confrontational, observational,<br class="desktop-only"> insightful,  <br class="desktop-only">and conversational.</h2>
	</div>
		{# <div class="search_container">
			<form id="search_mini_form" action="/search" method="get">
            <input class="search_article" placeholder="Search Insurge" value="" name="q" id="search" maxlength="128" autocomplete="off" type="text">
            <button class="search" type="submit" value="" id="btt"></button>
            </form>
		</div> #}
		<div class="cta_button_text_container">
			<p>Open Inquiry is a Euclidean discourse that encourages people to engage in dialogue as true participants. Participation is one part contributing substantiated knowledge - knowledge based on real world experience - and another part learning about new or differing perspectives.</p>
			<div class="hero_tag_button_container">
				<span class="tag_button_sign_up">sign up</span>
				<span class="tag_button_learn_more">learn more</span>
			</div>
		</div>
	
</section>

 