<section class="hero-img-container">
	<div class="heroimage">
		<figure>
			<img src="http://i.imgur.com/32765Z0.jpg">
		</figure>
	</div>	
	<div class="hero_tag_container">
		<div class="hero_tag_text">
			<p>We are <br>confrontational, <br>observational, <br>insightful, <br>and conversational.</p>
		</div>
		<div class="hero_tag_button">
			<p>Open Inquiry is a Euclidean discourse that encourages people to engage in dialogue as true participants. Participation is one part contributing substantiated knowledge - knowledge based on real world experience - and another part learning about new or differing perspectives.</p>
			<div class="hero_tag_button_container">
				<span class="tag_button_sign_up">sign up</span>
				<span class="tag_button_learn_more">learn more</span>
			</div>
		</div>
	</div>
</section>
<div class="postionfix"></div>





<section class="home_page_stories_container">
	<div class="home_page_stories">
		<a href="#">
		<img src="http://qt-staging-01.imgix.net/insurge%2F2017-06%2Fb167f662-e590-47fa-96ff-220bf78d3164%2Finsurge1.jpg?rect=0%2C0%2C1023%2C409&w=1000&q=60&fmt=pjpeg&auto=format">
		<h2>Inside the secret Trump lobby that wants to profit from the break-up of Iraq</h2>
		<p>Our ‘endless growth’ neoliberal economy — along with its constituent technologies of energy, food, and water production ...</p>
		<div class="stories_author_container">
			<span>by</span> <span>Nafeez Ahmed</span>
		</div>
		</a>
	</div>
	<div class="home_page_stories">
		<a href="#">
		<img src="http://qt-staging-01.imgix.net/insurge%2F2017-06%2Fb167f662-e590-47fa-96ff-220bf78d3164%2Finsurge1.jpg?rect=0%2C0%2C1023%2C409&w=1000&q=60&fmt=pjpeg&auto=format">
		<h2>Inside the secret Trump lobby that wants to profit from the break-up of Iraq</h2>
		<p>Our ‘endless growth’ neoliberal economy — along with its constituent technologies of energy, food, and water production ...</p>
		<div class="stories_author_container">
			<span>by</span> <span>Nafeez Ahmed</span>
		</div>
		</a>
	</div>
	<div class="home_page_stories">
		<a href="#">
		<img src="http://qt-staging-01.imgix.net/insurge%2F2017-06%2Fb167f662-e590-47fa-96ff-220bf78d3164%2Finsurge1.jpg?rect=0%2C0%2C1023%2C409&w=1000&q=60&fmt=pjpeg&auto=format">
		<h2>Inside the secret Trump lobby that wants to profit from the break-up of Iraq</h2>
		<p>Our ‘endless growth’ neoliberal economy — along with its constituent technologies of energy, food, and water production ...</p>
		<div class="stories_author_container">
			<span>by</span> <span>Nafeez Ahmed</span>
		</div>
		</a>
	</div>
	<div class="home_page_load_more">
		<span>more</span>
	</div>
</section>