<section class="profile_filter">
	<div class="profile_filter_container">
		<span class="tab_mypage">MY PAGE</span>
		<!-- <div class="profile_tag_container">
			<a href="#" class="profile_tag">Trump</a>
			<a href="#" class="profile_tag">Deep State</a>
			<a href="#" class="profile_tag">Deep State</a>
		</div>
		<div class="profile_filter_tag_container">
			<a href="#" class="filter_tag">Insights</a>
			<a href="#" class="filter_tag">Action</a>
			<a href="#" class="filter_tag">Axioms</a>
		</div> -->
	</div>
</section>
<!-- <script type="text/javascript">
$( document ).ready(function() {
  $( ".filter_tag" ).click(function() {
  		$(this).toggleClass("profile_tag_selected");
   });
});
</script> -->