$white: #fff;
$black: #000;
$light-gray: #ddd;
$dark-gray: #5e5e5e;
$footer-short: #000;
$color5: #c06;
$color6: #031f38;
$base-blue: #0065a7;
$light-blue: #0d84d3; //section name background
$heading-blue: #0065a7;
$blue-gray: #5790b5;
$text: #736f6f;

$grey-medium: #53595a;
$grey: #969696;
$dark-blue: #006187;
$question-blue: #026287;
$orange: #ff6900;
$small-heading: #2f2f2f;


$blue-opcity:rgba(21, 80, 132, 0.52);
$blue-gr:linear-gradient(to bottom, #1e5b8d, #0c477f);
$image_black_gr:linear-gradient(179deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));

// Home page
$gray_text:#cbc9cc;
$bg_white: #f7f7f7;
$static_p:#9b9b9b;
$p_color:#4a4a4a;
$border_color:#d0d0d0;
$b_color:#333333;
$list_border:#d0d0d0;
$blue_text:#1d5b8c;
$gray_t:#6b6a6b;
$border_color:#d0d0d0;
$sky_blue:#9abcd9;
$deep-blue:#175387;
$light-white:#edf0f1;
$golden-yellow:#c3b612;
$author_border:#7d8489;
$blue_button:#0f3147;
$axiom_headline:#808080;
$tag_text:#7a7a7a;
$tag_button:#1c598b;
$home_story_border:#a8a8a8;
$home_story_author:#545454;
$tag_bg:linear-gradient(to top, #576077, #1c598b);
$axiom_bg_color:#d5dbe1;
$tomato: #d0021b;
$yellow:#f1b434;
$p_sec_color:#878787;
$input_border_color:#9b9b9b;
$gold: #fdf4e1;
$underline:rgba(241, 180, 52, 0.5);
$red_opcity:rgba(208, 2, 27, 0.5);
$red_button:rgba(208, 2, 27, 0.8);