{# main footer for all page #}
<section class="mainfooter-container">
  <div class="mainfooter">
    {% include "/shared/logo" %}
    <p>&copy; 2017 Copyright statement</p>
    <div class="footer_link">
      <a href="#"><span class="footer_link_items">Terms of use</span></a>
      <a href="#"><span class="footer_link_items">Privacy</span>
      <a href="#"><span class="footer_link_items">Support</span>
      <a href="#"><span class="footer_link_items">About Insurge</span>
    </div>
  </div>
</section>