<section class="story_page_main_heading_container story-page story-view"
            data-story-url="{{ story.canonical_url }}"
            data-story-content-id="{{ story['story-content-id'] }}"
            data-story-version-id="{{ story['story-version-id'] }}"
            data-story-headline="{{ story['headline'] }}"
            data-loader="story">
	
	{% include "/story/templates/default" %}
</section>