<section class="story_page_main_heading_container">
	<div class="story_page_main_heading">
		<div class="story_author_info">
			<img class="story_author_info_img" src="https://pbs.twimg.com/profile_images/876503310097817600/ED83HGik_400x400.jpg">
			<span class="story_author">Nafeez Ahmed</span>
			<span class="home_third_story_topic">Oil Industry</span>
			<p class="story_author_info_bio">Investigative journalist, recovering academic, tracking the Crisis of Civilization patreon.com/nafeez</p>
			<h6 class="story_published_date">Posted March 22, 2017</h6>
		</div>
		<div class="story_page_main_stroy_content">
			<h1 class="story_page_main_stroy_heading">Beyond Trump: Rebooting the System from inside the Death Machine</h1>
			<h2 class="story_page_main_stroy_subheading">Free your mind, find your power, change the world</h2>
			<div class="response_container">
				<div class="insight_cout"><span>3</span> Insights</div>
				<div class="insight_cout"><span>1</span> Actions</div>
				<div class="insight_cout"><span>1</span> Axiom</div>
			</div>
			<p class="story_page_main_stroy_para">By perusing documents, speaking to sources, and digging into obscure public records, INSURGE intelligence was able to follow a thread that has so far been only been guessed at: what is driving the Trump administration’s thinking on Iraq, a country we invaded and occupied in 2003, and where we’re still fighting an endless ‘war on terror’?</p>
			<div class="story_page_axiom" id="story_axiom">
				<p>By perusing documents, speaking to sources, and digging into obscure public records, INSURGE intelligence was able to follow a thread that has so far been only</p>
			</div>
			<p class="story_page_main_stroy_para">By perusing documents, speaking to sources, and digging into obscure public records, INSURGE intelligence was able to follow a thread that has so far been only been guessed at: what is driving the Trump administration’s thinking on Iraq, a country we invaded and occupied in 2003, and where we’re still fighting an endless ‘war on terror’?</p>
			<div class="story_page_tags">
				<div class="story_page_tag">Trump</div>
				<div class="story_page_tag">Deep State</div>
				<div class="story_page_tag">Trump</div>
			</div>
			<div class="fourth_aside_container">
						<div class="comnt_icon"></div>
						<span class="comment_container--count">233</span><span class="comment_container--text">insightful </span>
						<span class="comment_container--info"></span>
						<span class="threedoticon"></span>
			</div>

				<!-- Side bar  Aside-->
				<div class="sidepanel_container">
					<div class="sidepanel">
						<div class="sidepanel_head">
							<div class="sidepanel_tabs">
								<div class="sidepanel_tab comments_side_tab"></div>
								<div class="sidepanel_tab ratings_side_tab is_active"></div>
								<div class="sidepanel_tab actions_side_tab"></div>
								<div class="sidepanel_tab share_side_tab"></div>
							</div>
						</div>
						<div class="side_panel_content_container">
							<div class="side_panel_content_item comments_side_tab__box">
								<img class="sidebar_author_info_img" src="https://pbs.twimg.com/profile_images/876503310097817600/ED83HGik_400x400.jpg">
								<span class="story_author">Nafeez Ahmed</span>
								<h6 class="story_published_date">Posted March 22, 2017</h6>
								<div class="sidebar_comment_para">
								<p>Jordan Greenhall, that was one of the best assessments that I have read in years. I understand the Deep State very well, and am personally among the Insurgents. Your analysis of the cultural evolution and mindset of both sides in the war is simply outstanding. As for the eventual settling out of the conflict, there are variables that remain to be determned, especially the under-40 demographic. It will be determined by the choices they make regarding values, and which values are most important to them. Networks of close personal friends are indeed important, but the decision process in forming those relationships is key. Again, it boils down to personal values and belief systems. </p>
									<div class="comment_container">
										<span class="comment_container--count">Replay&#9679;</span>
										<span class="comment_container--count">Rate&#9679;</span>
										<span class="comment_container--text">insightful(9)</span>
										<span class="comment_container--info"></span>
									</div>
								</div>
							</div>
							<div class="side_panel_content_item ratings_side_tab__box box_is_active">
								<div class="ratings_side_tab__box_content">
									<ul class="rating_sub_tab">
										<li class="rating_sub_tab_item tab_item_insightful">Insightful <span>(99)</span></li>
										<li class="rating_sub_tab_item tab_item_need subtab_active">Needs Improvement <span>(99)</span></li>
									</ul>
									<div class="rating_sub_tab_content">
										<div class="rating_sub_tab_item_box tab_item_insightful_box">
											<div class="rating_comments_box">
												<img class="sidebar_author_info_img" src="https://pbs.twimg.com/profile_images/876503310097817600/ED83HGik_400x400.jpg">
												<span class="story_author">Nafeez Ahmed</span>
												<input type="text" name="" class="post_a_option" placeholder="Add an optional comment to your rating…">
												<div class="rating_sub_button_container">
													<button>Cancel</button>
													<button>Rate</button>
												</div>
											</div>
											<div class="rating_sub_tab_item_box_content">
												<img class="sidebar_author_info_img" src="https://pbs.twimg.com/profile_images/876503310097817600/ED83HGik_400x400.jpg">
												<span class="story_author">Nafeez Ahmed</span>
												<p class="rating_sub_tab_comment">You have some good points but… </p>
											</div>
											<div class="rating_sub_tab_item_box_content">
												<img class="sidebar_author_info_img" src="https://pbs.twimg.com/profile_images/876503310097817600/ED83HGik_400x400.jpg">
												<span class="story_author">Nafeez Ahmed</span>
												<p class="rating_sub_tab_comment">You have some good points but… </p>
											</div>
											<div class="rating_sub_tab_item_box_content">
												<img class="sidebar_author_info_img" src="https://pbs.twimg.com/profile_images/876503310097817600/ED83HGik_400x400.jpg">
												<span class="story_author">Nafeez Ahmed</span>
												<p class="rating_sub_tab_comment">You have some good points but… </p>
											</div>

										</div>
										<div class="rating_sub_tab_item_box tab_item_need_box subtab_box_active">
											<div class="rating_sub_tab_item_box_content">
												<img class="sidebar_author_info_img" src="https://pbs.twimg.com/profile_images/876503310097817600/ED83HGik_400x400.jpg">
												<span class="story_author">Nafeez Ahmed</span>
												<p class="rating_sub_tab_comment">You have some good points but… </p>
											</div>
											<div class="rating_sub_tab_item_box_content">
												<img class="sidebar_author_info_img" src="https://pbs.twimg.com/profile_images/876503310097817600/ED83HGik_400x400.jpg">
												<span class="story_author">Nafeez Ahmed</span>
												<p class="rating_sub_tab_comment">You have some good points but… </p>
											</div>
											<div class="rating_sub_tab_item_box_content">
												<img class="sidebar_author_info_img" src="https://pbs.twimg.com/profile_images/876503310097817600/ED83HGik_400x400.jpg">
												<span class="story_author">Nafeez Ahmed</span>
												<p class="rating_sub_tab_comment">You have some good points but… </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="side_panel_content_item actions_side_tab__box">
								<div class="actions_sub">
									<h6>Share this Axiom</h6>
									<ul class="action_sub_share">
										<li class="action_sub_share_item share_item__facebook">Facebook</li>
										<li class="action_sub_share_item share_item__google">Google</li>
										<li class="action_sub_share_item share_item__twitter">Twitter</li>
										<li class="action_sub_share_item share_item__embed">Embed</li>
									</ul>	
								</div>
							</div>
							<div class="side_panel_content_item share_side_tab__box">
								<div class="share_content">
									<p>By perusing documents, speaking to sources, and digging into obscure public records, INSURGE intelligence was able to follow a thread that has so far been only</p>
								</div>
								<div class="share_content">
									<p>By perusing documents, speaking to sources, and digging into obscure public records, INSURGE intelligence was able to follow a thread that has so far been only</p>
								</div>
								<div class="share_story">
									<h4 class="share_story_h4">Inside the secret Trump lobby that wants to profit from the break-up of Iraq</h4>
									<span class="story_author">Nafeez Ahmed</span>
									<div class="comment_container">
										<div class="comnt_icon"></div>
										<span class="comment_container--count">233</span><span class="comment_container--text">insightful </span>
									</div>
								</div>
								<div class="share_story">
									<h4 class="share_story_h4">Inside the secret Trump lobby that wants to profit from the break-up of Iraq</h4>
									<span class="story_author">Nafeez Ahmed</span>
									<div class="comment_container">
										<div class="comnt_icon"></div>
										<span class="comment_container--count">233</span><span class="comment_container--text">insightful </span>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
		</div>
	</div>
</section>
<!-- For Active Sidebar-->
<script type="text/javascript">
$( "#story_axiom" ).click(function() {
  $( ".sidepanel_container" ).toggleClass("side_bar_is_active");
});
</script>
<script type="text/javascript">
$(".sidepanel_tab").click(function() {
	$('.sidepanel_tabs div').removeClass('is_active');
  $(this).toggleClass("is_active");
  var current= $(this).attr("class");
  var current_tab = current.split(" ");
  var current_tab_active=current_tab[1];
  var current_box_active="."+current_tab_active+"__box";
  $('.side_panel_content_container div').removeClass('box_is_active');
  $(current_box_active).addClass("box_is_active");
});
</script>
<!--Subtab-->
<script type="text/javascript">
$(".rating_sub_tab_item").click(function() {
	$('.rating_sub_tab_item').removeClass('subtab_active');
  $(this).toggleClass("subtab_active");
  var current_sub_tab= $(this).attr("class");
  var current_tab_class = current_sub_tab.split(" ");
  var current_sub_tab_active=current_tab_class[1];
  var current_sub_box_active="."+current_sub_tab_active+"_box";
  $('.rating_sub_tab_item_box').removeClass('subtab_box_active');
  $(current_sub_box_active).addClass("subtab_box_active");
});
</script>